@font-face {
    font-family: 'pp_neue_montrealbold';
    src: url('ppneuemontreal-bold-webfont.woff2') format('woff2'),
         url('ppneuemontreal-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }

  
  body,
  html {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  body {
    text-align: center;
    font-family: 'pp_neue_montrealbold';
    text-size-adjust: auto;
    font-size: 30px;
    overflow: hidden;
    } 
   
    p {
      font-size: 8.361vw;
      font-style: normal;
      font-weight: 900;
      line-height: 92%;
      letter-spacing: -.02em;
      text-transform: uppercase;
      word-wrap: break-word;
    }

    .main1 {
      height: 50%;
      position: relative;
      object-fit: cover;
      padding: auto;
      height: max-content;
      position: relative;
      object-fit: contain;
    }
  
    .hotLinks{
      object-position: bottom center;
      width: auto;
      height: auto;
    }
  
  