@font-face {
  font-family: 'pp_neue_montrealbold';
  src: url('ppneuemontreal-bold-webfont.woff2') format('woff2'),
       url('ppneuemontreal-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

img {
  max-width: 100%;
  display: block;
}

body {
  text-align: center;
  font-family: 'pp_neue_montrealbold';
  text-size-adjust: auto;
  font-size: 30px;
  } 

 

.hero-image {
      background: url(https://res.cloudinary.com/dlo6pjmqi/image/upload/c_scale,w_2492/v1675746049/ryunosuke-kikuno-zE-MrTmjzd4-unsplash_hsvrki.jpg) no-repeat center; 
      background-size: 100% 100%;
      background-position: center;
      height: 600px;
      position: relative;
      object-fit: cover;
      padding: auto;
    }

  p {
    font-size: 5.361vw;
    font-style: italic;
    font-weight: 900;
    line-height: 92%;
    letter-spacing: -.02em;
    position: relative;
    padding: 0px;
    word-wrap: break-word;
  }

  .hotLinks{
    object-position: center;
    width: auto;
    height: auto;
  }

