html {
  scroll-behavior: initial;
  font-family: 'Roboto Condensed', sans-serif;
}

html,
body {
  margin: 0;
  height:100%;
  width:100%;
  padding:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: auto;
  position: relative;
}

section {
  height:100vh;
  width: 100vw;
}

.buttons{
  object-position: bottom center;
  position: relative;
  padding: 0px;
  -webkit-text-size-adjust: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: auto;
  position: relative;
  font-size: auto;
  }
