<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
</style>

font-family: 'Roboto Condensed', sans-serif;

html {
  scroll-behavior: initial;
}

html,
body {
  min-height: 100%;
  height: auto;
  -webkit-box-align: center;
}

@media only screen and (max-width: 480px) {
body {
  text-align: center;
  font-family: 'pp_neue_montrealbold';
  text-size-adjust: auto;
  text-transform: lowercase;
  -webkit-text-size-adjust: auto;
  -webkit-box-align: center;
  font-size: 8.731vw;
  flex-wrap: wrap;
  } 
}

  @media only screen and (min-width: 481px) {
body {
  text-align: center;
  font-family: 'pp_neue_montrealbold';
  text-size-adjust: auto;
  text-transform: none;
  -webkit-text-size-adjust: auto;
  -webkit-box-align: center;
  font-size: 5.731vw;
  flex-wrap: nowrap;
  } 
}

@media only screen and (max-width: 480px) {
  .sl-button-group{
    object-position: bottom center;
    position: fixed;
    padding: 0px;
    -webkit-text-size-adjust: auto;
    }
  }

  @media only screen and (min-width: 481px) {
    .sl-button-group{
      object-position: bottom center;
      position: fixed;
      padding: 0px;
      }
    }
  
  .lottie {
    object-position: center;
    object-fit: cover;
  }

